body {
  margin: 0;
  background-color: black;
}

.bg {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.offbtn-background {
  background: url(../img/btn-off.png) no-repeat;
  width: 100%;
  background-size: contain;
  background-position: center;
}

.onbtn-background {
  background: url(../img/btn-on.png) no-repeat;
  width: 100%;
  background-size: contain;
  background-position: center;
}

.header {
  width: 100vw;
  height: 18vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  position: relative;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  height: 100%;
  margin: 0 auto;
}

.nav-item {
  width: 13.625%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-item__center {
  width: 18.1875%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-item__center-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 57.35849%;
  height: 86.41975%;
}

.nav-item__center-icon img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav-item__center-helpers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 21.69811%;
  height: 90%;
}

.nav-item__center-help-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95.65217%;
  height: 37.72291%;
}

.nav-item__center-help-link img:first-child {
  position: absolute;
}

.nav-item__center-help-link .info {
  width: 33%;
}

.nav-item__center-help-link .rose {
  width: 80%;
}

.nav-item__center-help-link .video {
  width: 73%;
  padding-bottom: 7%;
}

.nav-item__center-help-link .letter {
  width: 65%;
}

.nav-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 51.91%;
  height: 63.556%;
}

.nav-item__link img:first-child {
  position: absolute;
}

.links-size {
  position: relative;
}

.links-size .tournament {
  width: 66%;
}

.links-size .spectators {
  width: 67%;
  padding-bottom: 6%;
}

.links-size .partners {
  width: 81%;
}

.links-size .clubs {
  width: 80%;
  padding-bottom: 8%;
  padding-right: 3%;
}

.links-size .players {
  width: 59%;
  padding: 0 5% 7% 0;
}

.links-size .blogers {
  width: 58%;
  padding-bottom: 6%;
}

.registr-rule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.8%;
  height: 44.375%;
  position: absolute;
  right: 1%;
  top: 0%;
  border: none;
}

.registr-rule img:first-child {
  position: absolute;
  width: 64%;
}

.bottom-registr {
  display: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 78vh;
  position: relative;
}

.main__center {
  width: 22.264%;
}

.main__center-header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 62%;
}

.main__center-header-block .earth {
  width: 92%;
  height: 90%;
}

.main__center-header-block .left-bottom-partn {
  display: none;
}

.main__center-footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  height: 38%;
}

.top-block {
  display: block;
  position: relative;
  width: 63.36088%;
  height: 84.24908%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-block .top {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.top-block .bottom {
  width: 62%;
  padding-top: 11%;
  z-index: -1;
  padding-left: 1%;
}

.main__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.4375%;
  position: relative;
}

.main__aside .top-block {
  position: absolute;
  width: 42.99065%;
  height: 31.94444%;
}

.main__aside .top-block .bottom {
  width: 62%;
  padding-top: 10%;
  z-index: -1;
}

.main__aside .top-partner {
  top: 4%;
  left: 7%;
}

.main__aside .top-tournament {
  bottom: 19%;
  left: 13%;
}

.main__aside .top-player {
  right: 10%;
  top: 4%;
}

.main__aside .top-blogger {
  bottom: 20%;
  right: 19%;
}

.main__aside .partner-logo {
  position: absolute;
}

.main__aside .left-top-partn {
  width: 23%;
  height: 18%;
  right: 9%;
  top: 16%;
}

.main__aside .left-top-partn img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main__aside .left-center-partn {
  width: 34%;
  height: 10%;
  right: 24%;
  top: 42%;
}

.main__aside .left-center-partn img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main__aside .left-bottom-partn {
  width: 22%;
  height: 16%;
  right: 0%;
  bottom: 27%;
}

.main__aside .left-bottom-partn img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main__aside .right-top-partn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 25%;
  left: 15%;
  top: 18%;
}

.main__aside .right-top-partn img {
  width: 88%;
  height: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main__aside .right-bottom-partn {
  width: 29%;
  height: 8%;
  left: -2%;
  bottom: 35%;
}

.main__aside .right-bottom-partn img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.magic-wand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12.77%;
  height: 25%;
  position: absolute;
  right: 0.8%;
  bottom: 3%;
}

.magic-wand__main {
  width: 34.3%;
  height: 38.3%;
  border: none;
}

.magic-wand__main img {
  width: 56%;
  -o-object-fit: contain;
     object-fit: contain;
}

.magic-wand__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 27%;
  height: 30.6%;
}

.magic-wand__icon img {
  width: 70%;
  height: 70%;
}

.magic-wand a:nth-child(2) {
  top: 0;
}

.magic-wand a:nth-child(3) {
  top: 18%;
  right: 11%;
}

.magic-wand a:nth-child(4) {
  bottom: 18%;
  right: 11%;
}

.magic-wand a:nth-child(5) {
  bottom: 0;
}

.magic-wand a:nth-child(6) {
  bottom: 18%;
  left: 11%;
}

.magic-wand a:nth-child(7) {
  top: 18%;
  left: 11%;
}

@media all and (orientation: portrait) {
  .header {
    height: 10vh;
    margin-top: 1vh;
    margin-bottom: 0vh;
  }
  .menu {
    width: 100%;
  }
  .nav-item {
    width: 12.625%;
  }
  .nav-item__link {
    width: 90%;
    height: 62%;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 41%;
  }
  .nav-item__center {
    width: 26.188%;
  }
  .nav-item__center-icon {
    width: 61.358%;
    height: 65.42%;
  }
  .nav-item__center-helpers {
    height: 100%;
  }
  .nav-item__center-help-link {
    width: 99.652%;
    height: 24.723%;
  }
  .main {
    height: 88vh;
  }
  .main__center {
    width: 44.264%;
  }
  .main__center-header-block {
    position: relative;
  }
  .main__center-header-block .left-bottom-partn {
    display: block;
    position: absolute;
    width: 40%;
    height: 16%;
    bottom: 1%;
  }
  .main__center-header-block .left-bottom-partn img {
    width: 100%;
  }
  .main__aside .top-block {
    width: 67.991%;
    height: 18.944%;
  }
  .main__aside .top-tournament {
    bottom: 25%;
    left: 19%;
  }
  .main__aside .top-blogger {
    bottom: 25%;
    right: 19%;
  }
  .main__aside .top-partner {
    top: 0%;
    left: 19%;
  }
  .main__aside .top-player {
    right: 19%;
    top: 0%;
  }
  .main__aside .left-top-partn {
    width: 54%;
    height: 11%;
    right: 11%;
    top: 21.5%;
  }
  .main__aside .left-top-partn img {
    width: 96%;
    height: 83%;
  }
  .main__aside .left-center-partn {
    width: 100%;
    height: 6%;
    right: 0%;
    top: 49%;
  }
  .main__aside .left-bottom-partn {
    display: none;
  }
  .main__aside .right-top-partn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 74%;
    height: 12%;
    top: 20%;
  }
  .main__aside .right-top-partn img {
    width: 82%;
    height: 90%;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 50%;
  }
  .main__aside .right-bottom-partn {
    width: 82%;
    height: 5%;
    left: 0%;
    bottom: 46%;
  }
  .top-block {
    width: 51.361%;
    height: 54.249%;
  }
  .magic-wand {
    width: 35.77%;
    height: 16%;
    right: 0%;
    bottom: 3%;
  }
  .top-registr {
    display: none;
  }
  .bottom-registr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .registr-rule {
    position: absolute;
    top: auto;
    bottom: 1%;
    left: 7%;
    width: 49.8%;
    height: 7.375%;
  }
  .registr-rule img:first-child {
    width: 60%;
  }
}
/*# sourceMappingURL=main.css.map */