body {
  margin: 0;
  background-color: black;
}

.offbtn-background {
  background: url(../img/btn-off.png) no-repeat;
  background-size: 100% 100%;
}

.onbtn-background {
  background: url(../img/btn-on.png) no-repeat;
  background-size: 100% 100%;
}

.header {
  width: 100vw;
  height: 18vh;
  margin-top: 2vh;
  position: relative;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  height: 100%;
  margin: 0 auto;
}

.nav-item {
  width: 13.625%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-item__center {
  width: 18.1875%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-item__center-icon {
  width: 56.60377%;
  height: 86.41975%;
  background: url(../img/main-on.png) no-repeat;
  background-size: 100% 100%;
}

.nav-item__center-helpers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 21.69811%;
  height: 90%;
}

.nav-item__center-help-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95.65217%;
  height: 37.72291%;
}

.nav-item__center-help-link .info {
  height: 62%;
  width: 80%;
}

.nav-item__center-help-link .rose {
  height: 80%;
  width: 80%;
}

.nav-item__center-help-link .video {
  width: 73%;
  padding-bottom: 7%;
}

.nav-item__center-help-link .letter {
  height: 61%;
  width: 80%;
}

.nav-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 51.91%;
  height: 63.556%;
}

.nav-item__link .tournament {
  width: 66%;
  height: 69%;
}

.nav-item__link .spectators {
  width: 67%;
  height: 68%;
  padding-bottom: 6%;
}

.nav-item__link .partners {
  width: 81%;
  height: 68%;
}

.nav-item__link .clubs {
  width: 80%;
  height: 60%;
  padding-bottom: 8%;
  padding-right: 3%;
}

.nav-item__link .players {
  width: 59%;
  height: 83%;
  padding: 0 5% 7% 0;
}

.nav-item__link .blogers {
  width: 58%;
  height: 58%;
  padding-bottom: 6%;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.8%;
  height: 44.375%;
  position: absolute;
  right: 1%;
  top: 0%;
  border: none;
}

.registration img {
  width: 80%;
  height: 85%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 80vh;
  position: relative;
}

.main__center {
  width: 22.264%;
}

.main__center-header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 62%;
}

.main__center-header-block .earth {
  width: 92%;
  height: 90%;
}

.main__center-footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  height: 38%;
}

.top-block {
  display: block;
  position: relative;
  width: 63.36088%;
  height: 84.24908%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-block .top {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.top-block .bottom {
  width: 62%;
  padding-top: 10%;
  z-index: -1;
}

.main__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.4375%;
  position: relative;
}

.main__aside .top-block {
  position: absolute;
  width: 42.99065%;
  height: 31.94444%;
}

.main__aside .top-block .bottom {
  width: 62%;
  padding-top: 10%;
  z-index: -1;
}

.main__aside .top-partner {
  top: 4%;
  left: 7%;
}

.main__aside .top-tournament {
  bottom: 19%;
  left: 13%;
}

.main__aside .top-player {
  right: 10%;
  top: 4%;
}

.main__aside .top-blogger {
  bottom: 20%;
  right: 19%;
}

.main__aside .partner-logo {
  position: absolute;
}

.main__aside .left-top-partn {
  width: 23%;
  height: 18%;
  right: 9%;
  top: 16%;
}

.main__aside .left-top-partn img {
  width: 100%;
  height: 100%;
}

.main__aside .left-center-partn {
  width: 34%;
  height: 10%;
  right: 24%;
  top: 42%;
}

.main__aside .left-center-partn img {
  width: 100%;
  height: 100%;
}

.main__aside .left-bottom-partn {
  width: 22%;
  height: 16%;
  right: 0%;
  bottom: 27%;
}

.main__aside .left-bottom-partn img {
  width: 100%;
  height: 100%;
}

.main__aside .right-top-partn {
  width: 30%;
  height: 22%;
  left: 15%;
  top: 18%;
}

.main__aside .right-top-partn img {
  width: 100%;
  height: 100%;
}

.main__aside .right-bottom-partn {
  width: 29%;
  height: 8%;
  left: -2%;
  bottom: 35%;
}

.main__aside .right-bottom-partn img {
  width: 100%;
  height: 100%;
}

.magic-wand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12.77%;
  height: 25%;
  position: absolute;
  right: 0.8%;
  bottom: 3%;
}

.magic-wand__main {
  width: 34.3%;
  height: 38.3%;
  border: none;
}

.magic-wand__main img {
  width: 71%;
  height: 68%;
}

.magic-wand__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 27%;
  height: 30.6%;
}

.magic-wand__icon img {
  width: 70%;
  height: 70%;
}

.magic-wand a:nth-child(2) {
  top: 0;
}

.magic-wand a:nth-child(3) {
  top: 18%;
  right: 9%;
}

.magic-wand a:nth-child(4) {
  bottom: 18%;
  right: 9%;
}

.magic-wand a:nth-child(5) {
  bottom: 0;
}

.magic-wand a:nth-child(6) {
  bottom: 18%;
  left: 9%;
}

.magic-wand a:nth-child(7) {
  top: 18%;
  left: 9%;
}
/*# sourceMappingURL=main.css.map */